# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    # renovate: datasource=github-releases depName=pre-commit-hooks packageName=pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        args: [--branch, main]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: pretty-format-json
        args: [--autofix]
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/renovatebot/pre-commit-hooks
    # renovate: datasource=github-releases depName=renovate-config-validator packageName=renovatebot/pre-commit-hooks
    rev: 42.5.2
    hooks:
      - id: renovate-config-validator
        language_version: 20.18.0

  - repo: https://github.com/rhysd/actionlint
    # renovate: datasource=github-releases depName=actionlint packageName=rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint-docker

  - repo: https://github.com/igorshubovych/markdownlint-cli
    # renovate: datasource=github-releases depName=markdownlint packageName=igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint-docker
